body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #9bd5ff;
    font-size: 1.25rem;
}

header {
    background-color: #0a55c6;
    color: white;
    text-align: center;
    margin: 0;
}

header h1 {
    margin: 0;
    padding: 1rem 0;
}

#sec-filter {
    width: 80%;
    margin: 1.5rem auto;
    padding: 1rem 0;
    background-color: white;
    border: 2px solid #0a55c6;
    border-radius: 8px;
    text-align: center;
}

#sec-filter p {
    margin: 0 0 1rem 0;
}

#sec-filter button {
    font: inherit;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: #0a55c6;
    border: transparent;
    border-radius: 4px;
    color: white;
    transition: 0.5s;
}

#sec-filter button:hover {
    cursor: pointer;
    background-color: #6fb7ff;
    color: black;
}

#tower-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tower-list-item {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    background-color: whitesmoke;
    border: 2px solid #0a55c6;
    border-radius: 8px;
}

.tower-list-item img {
    height: 15rem;
    object-fit: cover;
}

#tower-list-item-info {
    margin: 0;
    padding: 0 1.5rem;
}

#tower-name {
    color: #0a55c6;
    font-size: 1.75rem;
}